<!DOCTYPE html>

<html lang = "ja">
  <head>
    <title>Help</title>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width-device-width">
    <link href="https://fonts.googleapis.com/css?family=Acme|Bree+Serif|Lobster|Rubik" rel="stylesheet">
    <!--style.cssとbootstrap.cssの読み込み-->
    <style type="text/css">
      @import url("../static/css/bootstrap.min.css");
      @import url("../static/css/bootstrap-theme.min.css");
      @import url("../static/css/style.css");
      </style> 
    <!--bootstrapの読み込み-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--jsの読み込み-->
    <script src="../static/js/index.js"></script>
  </head>
  <body>
      <left><h1><img src="../static/imgs/charin_icon.png" alt="charin_icon" title="ちゃりん"　width="120px" height="60px">   Help</h1></left>
      <div class="panel panel-warning">
          <div class="panel-heading">
            ちゃりんとは
          </div>
          <div class="panel-body">
            イイネ！と思う出来事が現実世界に起きたら、HOMEのページの下記にある"charin!"ボタンをクリックし、
            <br>その出来事を起こした人物に投げ銭を贈ることができるWebアプリケーションです。
            <br>"charin!"を受け取った場合は、自身のアカウントのちゃりんポイントにポイントが付与されます。

          </div>
          <div class="panel-heading">
              ちゃりんアカウントを登録する(登録方法)
            </div>
            <div class="panel-body">
              ユーザ名、メールアドレス、パスワードを入力し、"ユーザーを作成する"ボタンをクリックしてください。
            </div>
            <div class="panel-heading">
              メイン画面(各機能)の見方
              </div>
              <div class="panel-body">
                1.メニューバをクリックすると、それぞれリンクされたページに接続されます。<br>
                2.現在のちゃりんポイントが表示されます。<br>
                3.ちゃりんMapでは、周辺にいるちゃりんユーザが表示されます。<br>
                4.ホームのページにある”charin!"ボタンをクリックすることで、ユーザにちゃりんポイントを送信することができます。<br>

              </div>
          
          <div class="panel-footer">
          ちゃりん
          </div>
        </div>
  </body>
</html>