<!DOCTYPE html>

<html lang = "ja">
  <head>
    <title>History</title>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width-device-width">
    <!--index.cssの読み込み-->
    <style type="text/css">
    @import url("../static/css/bootstrap.min.css");
    @import url("../static/css/bootstrap-theme.min.css");
    @import url("../static/css/style.css");
    </style> 
    <!--bootstrapの読み込み-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--jsの読み込み-->
    <script src="../static/js/index.js"></script>
  </head>
  <body>
      <left><h1>履歴</h1></left>
      <p>あなたの"ちゃりん"状況をお知らせします。</p>

      <div class="panel panel-warning">
          <div class="panel-heading">
            ちゃりん履歴
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Time</th>
                <th>Name</th>
                <th>Place</th>
                <th>Point</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>10:00</th>
                <td>ブルーＳＣ</td>
                <td>地球</td>
                <td>101</td>
              </tr>
              <tr>
                <th>12:30</th>
                <td>ＦＣウェヌス</td>
                <td>金星</td>
                <td>83</td>
              </tr>
              <tr>
                <th>17:40</th>
                <td>ジュピターＦＣ</td>
                <td>木星</td>
                <td>68</td>
              </tr>
            </tbody>
          </table>
        </div>

  <!--JSからの処理を記述-->
  
    </body>
  </html>
</html>