<!DOCTYPE html>
<html lang = "ja">
  <head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width-device-width" xinitial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Acme|Bree+Serif|Lobster|Rubik" rel="stylesheet">
    <!--index.cssの読み込み-->
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!--bootstrapの読み込み-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--jsの読み込み-->
    <script src="../static/js/index.js"></script>
    <script src="../static/js/location.js"></script>
    <!--processing.jsの読み込み-->
    <script type="text/javascript" src="../static/js/processing.min.js"></script>
    <script type="text/javascript" src="../static/js/fullscreen.js"></script>
    <script type="application/processing" data-processing-target="pjs" src="../static/js/sakura.pde"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/addons/p5.dom.min.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img alt="Brand" src="../static/imgs/charin_logo.png" style="height: 30px;">
              </a>
            </div>
            
            <div class="collapse navbar-collapse" id="navbarEexample2">
              <ul class="nav navbar-nav">
                <li><a href="#">メニューＡ</a></li>
                <li class="active"><a href="#">メニューＢ</a></li>
                <li><a href="#">メニューＣ</a></li>
              </ul>
              <button type="button" class="btn btn-default navbar-btn navbar-right">Sign in</button>
              <div class="navbar-text">ようこそ ゲスト さん。</div>
            </div>
          </div>
        </nav>
         <div id="wrapper">
            <canvas id="pjs"/><br>
         </div>
         <header class="jumbotron">
            <header class="jumbotron">
            　<div class="container">

            　　<h1 class="jumbotron-h1">Charin, World!</h1>
            　　<h2 class="jumbotron-h2">Let's Charin!</h2>
            　</div>
            </header> 
            <div class="row">
                <div class="col-sm-2">
                  <div class="panel panel-warining">
                    <div class="panel-heading strong">現在のポイント</div>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="font-size:30px;"></span>
                      <div class="panel-body text-right">pt</div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="panel panel-warining">
                    <div class="panel-heading strong">現在の場所</div>
                    <span class="glyphicon glyphicon-globe" aria-hidden="true" style="font-size:30px;"></span>
                      <div class="panel-body text-right">場所</div>
                  </div>
                </div>
                <div class="col-sm-2">
                    <div class="panel panel-warining">
                      <div class="panel-heading strong">ユーザーの人数</div>
                      <span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:30px;"></span>
                        <div class="panel-body text-right">人</div>
                    </div>
                  </div>
              </div>
  
      <div class="embed-responsive embed-responsive-4by3">
            <h2>Charin Map</h2>
            <iframe class="embed-responsive-item" src="maps"></iframe>
      </div>
      <div class="blink">イイネな出来事があったらクリックしよう！</div>

      <button type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#sampleModal">
               Charin!
      </button>
    
    <!-- モーダル・ダイアログ -->
    <div class="modal fade" id="sampleModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            <h4 class="modal-title">Charin！しました</h4>
          </div>
          <div class="modal-body">
            近くにいるユーザにCharin!が完了しました
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            <button type="button" class="btn btn-primary">ボタン</button>
          </div>
        </div>
      </div>
    </div>
<!-- <button id="open"><a href="#"><img border="0" src="../static/imgs/charin_btn1.png" 
  onMouseOver="this.src='../static/imgs/charin_btn2.png'" 
  onMouseOut="this.src='../static/imgs/charin_btn1.png'"
  width="400px" height="150px">
</a></button>
<div id="modal">
    <p>charin！しました</p>
    <p>ありがとうございます！</p>
    <div>
        <button id="close">戻る</button>
    </div>
</div>
<div id="overlay"></div> -->



<!--  <a href="#"><img border="0" src="../static/imgs/charin_btn1.png" 
    onMouseOver="this.src='../static/imgs/charin_btn2.png'" 
    onMouseOut="this.src='../static/imgs/charin_btn1.png'"
    width="400px" height="150px">
  </a>-->
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </body>
</html>
