<!DOCTYPE html>

<html lang = "ja">
  <head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width-device-width">
    <!--index.cssの読み込み-->
    <link href="../static/css/index.css" rel="stylesheet">
    <!--bootstrapの読み込み-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--jsの読み込み-->
    <script src="../static/js/index.js"></script>
  </head>
  <div calss ="header">
      <center><p>ちゃりん</p></center>
  </div>
  <div class="cp_navi">
      <ul>
        <li><a href="#">Home</a></li>
        <li>
          <a href="#">Menu<span class="caret"></span></a>
          <div>
            <ul>
              <li><a href="#cat">History</a></li>
              <li><a href="#dog">Ranking</a></li>
              <li><a href="#rabbit">Setting</a></li>
            </ul>
          </div>
        </li>
      </ul>
      </div>
  <div class = "now_point">
    <p>現在のポイントは__pt</p>
  </div>

  </body>
</html>