@charset "utf-8";
@-ms-viewport {
    width: device-width;
}

body{
    background-color: #ffc77f;
    min-height: 2000px;
    padding-top: 30px;
}
p{
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN', sans-serif;
    color: #ff5c5c;
    font-size: 32px;
    font-weight: bold;
}
body #wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
}


header.jumbotron {
    height: 510px;
    background-size: cover;
    background-color: #ffc77f;
    }
h1.jumbotron-h1{
    text-indent:30%;
    font-family: 'Bree Serif', serif;
　　white-space:nowrap;
　　overflow:hidden;
}
h2.jumbotron-h2{
    text-indent:30%;
    font-family: 'Bree Serif', serif;
    color: #ffffff;
    font-size: 32px;
    overflow:hidden;
}
@media (max-width: 767px){
header.jumbotron {
    height: 410px;
    background-size: cover;
}
/* カルーセル */
.navbar{
    /* トップメニュー下のマージンを除去 */
    margin-bottom: 0;
}

.carousel-inner img{
    width: 100%;
}

.carousel-caption{
    text-align: right;
    /* Bootstrapぽくて、バタ臭いので消す */
    text-shadow: none;
}

.now_point {
    margin: auto;
}

.now_point p {
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN', sans-serif;
    color: #ff5c5c;
    font-size: 32px;
    font-weight: bold;
    border: 3px solid white;
    padding: 20px 40px;
    position: relative;
}

title.jumbotron {
    height: 200px;
    background-size: cover;
    background-color: #ffc77f;
    }
.box1 {
    border: solid 1px #ffc77f;
    box-sizing: border-box;
    line-height: 50px;
    margin-left: 20px;
  }
.blink {
    animation: 0.8s linear infinite blink_effect;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN', sans-serif;
    color: #ff5c5c;
    font-size: 24px;
  }
  @keyframes blink_effect {
      0% {
          visibility: hidden;
      }
      50% {
          visibility: hidden;
      }
      100% {
          visibility: visible;
      }
  }
.map {
    border: solid 1px white;
    height: 300px;
    width: 100%;
}
h2{
    text-indent:30%;
    font-family: 'Bree Serif', serif;
    color:  #ffc77f;

}
#overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, .65);
}
#modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    max-width: 70vw;
    max-height: 70vh;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    background-color: #fff;
}
.active {
    display: block !important;
}