@charset "utf-8";
@-ms-viewport {
    width: device-width;
}

body{
    background-color: #ffc77f;
}
p{
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN', sans-serif;
    color: #ff5c5c;
    font-size: 32px;
    font-weight: bold;
}

.cp_navi {
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888888;
    display: block;
    margin: 20px ;
    overflow: hidden;
    width: 95%;
    }
.cp_navi ul {
        margin: auto;
        padding: 0px;
    }
.cp_navi ul li {
        display: inline-block;
        list-style-type: none;
        -webkit-transition: all 0.2s;
                transition: all 0.2s;
    }
.cp_navi > ul > li > a > .caret {
        border-top: 4px solid #aaaaaa;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: '';
        display: inline-block;
        height: 0;
        width: 0;
        vertical-align: middle;
        -webkit-transition: color 0.1s linear;
                transition: color 0.1s linear;
    }
.cp_navi > ul > li > a {
        color: #979494;
        font-size: 40px;
        font-family: 'Bree Serif', serif;
        display: block;
        line-height: 80px;
        padding: 0 10px;
        text-decoration: none;
    }
.cp_navi > ul > li:hover {
        background-color: rgb(218, 60, 65);
    }
.cp_navi > ul > li:hover > a {
        color: rgb( 255, 255, 255 );
    }
.cp_navi > ul > li:hover > a > .caret {
        border-top-color: rgb( 255, 255, 255 );
    }
.cp_navi > ul > li > div {
        background-color: rgb(218, 60, 65);
        border-top: 0;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
        display: none;
        margin: 0;
        opacity: 0;
        position: absolute;
        width: 165px;
        visibility: hidden;
        -webkit-transiton: opacity 0.2s;
               transition: opacity 0.2s;
    }
.cp_navi > ul > li:hover > div {
        display: block;
        opacity: 1;
        visibility: visible;
    }
.cp_navi > ul > li > div ul > li {
        display: block;
    }
.cp_navi > ul > li > div ul > li > a {
        color: #ffffff;
        display: block;
        padding: 12px 24px;
        text-decoration: none;
    }
.cp_navi > ul > li > div ul > li:hover > a {
        background-color: rgba( 255, 255, 255, 0.1);
    }

.now_point {
    margin: auto;
}

.now_point p {
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN', sans-serif;
    color: #ff5c5c;
    font-size: 32px;
    font-weight: bold;
    border: 3px solid white;
    padding: 20px 40px;
    position: relative;
}
.box1 {
    border: solid 1px #ffc77f;
    box-sizing: border-box;
    line-height: 50px;
    margin-left: 20px;
  }
  .map {
    border: solid 1px white;
    height: 300px;
    width: 100%;
}